version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: crm_user
      POSTGRES_PASSWORD: crm_password # Üretimde .env üzerinden override edilmeli
      POSTGRES_DB: crm_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    restart: always
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_USER=crm_user
      - DB_NAME=crm_db
      - PORT=5000
    depends_on:
      - db
    volumes:
      - crm_uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
    restart: always
    env_file:
      - .env
    environment:
      - VITE_API_URL=https://kartvizit.ulakbim.gov.tr
      - NODE_OPTIONS=--max-old-space-size=4096
    depends_on:
      - backend

volumes:
  pgdata:
  crm_uploads:
